body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-contain{
    max-width: 500px;
}

.banner .profil-pic {
    width: 584px;


}

.banner-gretting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;

}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;

}

